<ul id="patient-desc">
    <li>First Name: Jane</li>
    <li>Last Name: Doe</li>
    <li>Gender: Female</li>
    <li>Occupation: Retired Age: 70</li>
    <li>Location: Toronto, Ontario</li>
    <li>Medications: CRESTOR</li>
</ul>
<img src="img/janedoe.jpg" alt="Jane Doe" id="jd-img">
<h4>Summary:</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam massa, consequat in dui
sed, aliquam placerat nibh. Fusce in ultrices lectus, convallis tincidunt elit. Curabitur faucibus
sem vitae ex egestas iaculis. Suspendisse eget tempor nulla. Cras et convallis urna, sed aliquam
metus. Pellentesque consequat finibus turpis quis semper. Curabitur bibendum sem ut massa
tincidunt, at dictum mi convallis. Duis et ipsum at leo pulvinar laoreet sit amet id ligula.
Pellentesque in libero convallis augue condimentum aliquet eu a elit. Sed eu diam rhoncus,
ullamcorper dui nec, pellentesque massa. Curabitur vestibulum volutpat euismod. Aliquam leo
neque, laoreet quis tellus non, ultrices posuere metus.</p>
